# {{ ansible_managed }}

[Unit]
Description=mitmdump: An interactive TLS-capable intercepting HTTP proxy
Documentation=https://docs.mitmproxy.org/
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=-/etc/default/mitmdump
ExecStart=/usr/local/bin/mitmdump $DAEMON_OPTS
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
